<ion-view  view-title="Home" ng-controller="home" data-ng-init="init()">

	<ion-nav-buttons side="left">

        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

    </ion-nav-buttons>

    <div class="bar bar-subheader home-sub-header">
     	<div class="button-bar ">
			<a class="button button-clear"  ng-click = "takePicture('1')"><i class = "icon ion-android-image home-sub-header-i"></i></a>
			<a class="button button-clear" ng-click = "takePicture('2')"><i class = "icon ion-android-camera" ></i></a>
			<a class="button button-clear"  ng-click = "init()"><i class = "icon ion-android-sync"></i></a>
		</div>
    </div>

  		
  		<ion-spinner class="loading-view" icon="ripple"></ion-spinner>
		
		<ion-content class="has-header padding home-view" on-swipe-up="onSwipeUp()" on-swipe-down="onSwipeDown()">

			<div ng-if="showMe">
				<ion-scroll direction="x" class="wide-as-needed" scrollbar-x="false">
	        	</ion-scroll>
	       	</div>
			<br><br>

			<div class="list card" ng-repeat="post in posts">
				<div class="item item-avatar">
					<img src="{{post.image_path}}">
					
					<h2 ng-hide="post.user.last_name">
						{{post.user.first_name+'   '}}<i class="icon ion-checkmark-circled"></i>
					</h2>
					<h2 ng-show="post.user.last_name">
						{{post.user.last_name+' '+post.user.first_name}}
					</h2>
					<p>{{post.created_at | dateToISO | date:'longDate'}}</p>
				</div>
				<div class="item item-body">
				    <img class="full-image" src="{{post.post_path}}"/>
				    <i class="icon ion-android-favorite-outline like-post" ng-hide="post.liked" ng-click="likePost(post)"></i>
				    <i class="icon ion-android-favorite like-post" ng-show="post.liked" ng-click="likePost(post)"></i>
				    <div class="post-outfits" ng-click="openItemModal(post.outfits)" ng-show="post.outfits.length">
				    	<img class="post-outfits-btn" src="img/icons/collection.png" />
				    </div>
				    <p>
				    </p>
				    <p class="likes-comments">
				      <a href="#" class="subdued">{{post.likes.length>1?post.likes.length+' Likes':post.likes.length+' Like'}} </a>
				      <!-- <a href="#" class="subdued">0 Comment</a> -->
				    </p>
					<!-- <label class="item item-input">
						<textarea type="text" placeholder="Commentaire"></textarea>
					</label> -->
				</div>
			</div> 

			<ion-infinite-scroll on-infinite="loadMore()" icon="none" distance="20%"></ion-infinite-scroll>

		</ion-content>
</ion-view>